<li id="<%= dom_id(task)%>" class="task-list__task">
  <%= form_with model: task, class: "task-form" do |f| %>
    <div class="task-form__field">
      <%= f.text_field :name, class: "task-form__input", autocomplete: :off, required: true %>
    </div>

    <span id="dateselect", class="dateselect">
		<%= f.date_select :due_day, discard_year: true, start_year: Time.now.year, end_year: Time.now.year %>
	  </span>

    <%= f.submit "Save", class: "button button--primary" %>
    <%= link_to "Cancel", task_path(task), class: "button link", remote: true %>
  <% end %>
</li>