<%= form_with(model: @new_project, remote: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <h2><%= form.text_field :name %></h2>
  </div>

  <div class="hidden-field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%# !!!---THIS ONE IS USED FOR THE ALTERNATIVE PROJECT CREATION---!!!  %>
