<li id="<%= dom_id(project) %>" class="project-table_project">
  <%= form_with model: project, class: "project_form" do |form| %> <!-- why 'project' model is not an instance variable? -->
		<% if project.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

				<ul>
					<% project.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
  	<% end %>
		
		<div class="form_field">
			<%= form.text_field :name, class: "form_input", autocomplete: :off, required: true %>
		</div>
		<div class="hidden_field">           <!-- rename to hidden_field -->
			<%= form.hidden_field :user_id, :value => current_user.id %>
		</div>

		<%= form.submit "Save", class: "button button-primary" %>
		<%= link_to "Cancel", project_path(project), class: "button link", remote: true %>
  <% end %>
</li>
