<li id="<%= dom_id(project) %>" class="project-table_project">
  <%= form_with model: project, class: "project_form" do |form| %> <!-- why 'project' model is not an instance variable? -->
		<div class="form_field">
			<td><%= form.text_field :name, class: "form_input", autocomplete: :off %></td>
		</div>
		<div class="hidden_field">           <!-- rename to hidden_field -->
			<%= form.hidden_field :user_id, :value => current_user.id %>
		</div>

		<%= form.submit "Save", class: "button button-primary" %>
		<%= link_to "Cancel", project_path(project), class: "button link", remote: true %>
  <% end %>
</li>
