<table id="<%= dom_id(project) %>" class="project-table_project">
	<tbody>
		<tr>
			<span class="project-list_project-name">
				<td><%= project.name %></td>
			</span>
			<td><%= link_to 'Edit', edit_project_path(project), class: "link", remote: true %></td>
			<td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?1' },
				remote: true, class: 'delete_project' %></td>
		</tr>
	</tbody>
</table>
		
<%= form_with model: @new_task, class: "task_form" do |f| %>
	<%= f.hidden_field :project_id, :value => project.id %>
	<%= f.text_field :name, placeholder: "What are you up to, buddy?", autocomplete: :off, 
		data: { placeholder: :new_task_input, "project-id": project.id }, class: "task_form_input" %>
<% end %>

<ul id="tasks" class="sortable" data-placeholder="uncompleted_tasks" data-project-id="<%= project.id %>">
	<%= render project.tasks.uncompleted.by_position %>
</ul>

<ul id="tasks-completed" data-placeholder="completed_tasks" data-project-id="<%= project.id %>">
	<%= render project.tasks.completed.by_position %>
</ul>

<ul id = "sortable-2">
  <li class = "default">Product 1</li>
	<li class = "default">Product 2</li>
  <li class = "default">Product 3</li>
  <li class = "default">Product 4</li>
  <li class = "default">Product 5</li>
  <li class = "default">Product 6</li>
  <li class = "default">Product 7</li>
</ul>
	
