<table id="<%= dom_id(project) %>" class="project-table_project">
	<tbody>
		<tr>
			<span class="project-list_project-name">
				<td><%= project.name %></td>
			</span>
			<td><%= link_to 'Edit', edit_project_path(project), class: "link", remote: true %></td>
			<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?1' },
				remote: true, class: 'delete_project' %></td>
		</tr>
	</tbody>
</table>
		
  <%= form_with model: @new_task, class: "task_form" do |f| %>
	<%= f.hidden_field :project_id, :value => project.id %>
	<%= f.text_field :name, placeholder: "What are you up to, buddy?", autocomplete: :off, data: { placeholder: :new_task_input }, class: "task_form_input" %>
<% end %>

<ul id="tasks" data-placeholder="uncompleted_tasks" data-project-id="<%= project.id %>">
	<%= render project.tasks.uncompleted %>
</ul>

<ul id="tasks-uncompleted" data-placeholder="completed_tasks">
	<%= render project.tasks.completed.by_position %>
</ul>
	
