
<div id="container_<%= dom_id(project) %>">	
<br>	

	<nav class="navbar navbar-light bg-primary text-white" id="<%= dom_id(project) %>">
		<span class="row project-list__project-name">
			<h5 id="<%= dom_id(project) %>" class="mb-0 col" style="word-wrap: break-word"><%= project.name %></h5>	
		</span>
		
		<span class="project-list__controls" float="right">
			<%= link_to '<span class="icon bg-icon far fa-edit text-light"></span>'.html_safe, edit_project_path(project), class: "link", remote: true %>
			<%= link_to '<span class="icon bg-icon far fa-trash-alt text-light"></span>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?1' },
				remote: true, class: 'delete_project ml-2 mr-2' %>
		</span>
	</nav>
					
	<%= form_with model: @new_task, class: "task-form" do |f| %>
		<div class="input-group mb-3 my-sm-1">
			<%= f.hidden_field :project_id, :value => project.id %>
			<%= f.text_field :name, placeholder: "What are you up to, buddy?", autocomplete: :off, required: true, 
				data: { placeholder: :new_task_input, "project-id": project.id }, class: "form-control"%>
						
			<div id="project_button_<%= project.id %>" class="input-group-append my-sm-0">
				<%= f.submit "Add Task", class: "btn btn-success " %>	
			</div>
		</div>
	<% end %>
					
	<div class="task-list task-list--uncompleted">
		<ul id="tasks" class="list-group" data-url="<%= sort_tasks_path %>" data-placeholder="uncompleted_tasks" data-project-id="<%= project.id %>">
			<%= render project.tasks.uncompleted %>
		</ul>
	</div>

	<div class="task-list task-list--completed">
		<ul id="tasks-completed" class="list-group list-group" style="list-style-type:none" data-placeholder="completed_tasks" data-project-id="<%= project.id %>">
			<%= render project.tasks.completed %>
		</ul>
	</div>
<br>
	
</div>
	


