<table id="<%= dom_id(project) %>" class="project-table_project">
	<tbody>
		<tr>
			<span class="project-list_project-name">
				<td><%= project.name %></td>
			</span>
			<td><%= link_to 'Edit', edit_project_path(project), class: "link", remote: true %></td>
			<td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?1' },
				remote: true, class: 'delete_project' %></td>
		</tr>
	</tbody>
</table>
		
<%= form_with model: @new_task, class: "task-form" do |f| %>
	<div class="form__field">
		<%= f.hidden_field :project_id, :value => project.id %>
		<%= f.text_field :name, placeholder: "What are you up to, buddy?", autocomplete: :off, required: true, 
			data: { placeholder: :new_task_input, "project-id": project.id }, class: "task-form__input" %>
	</div>
	<span id="dateselect_<%= project.id %>", class="dateselect">
		<%= f.date_select :due_day, discard_year: true, start_year: Time.now.year, end_year: Time.now.year %>
	</span>
<% end %>

<div class="task-list task-list--uncompleted">
	<ul id="tasks" style="list-style-type:none" class="sortable" data-url="<%= sort_tasks_path %>" data-placeholder="uncompleted_tasks" data-project-id="<%= project.id %>">
		<%= render project.tasks.uncompleted %>
	</ul>
</div>

<div class="task-list task-list--completed">
	<ul id="tasks-completed" data-placeholder="completed_tasks" data-project-id="<%= project.id %>">
		<%= render project.tasks.completed %>
	</ul>
</div>	
