<h2>Projects</h2>
<h5>ordered by tasks count desc</h5>

<table>
	<% @projects_by_tasks_desc.each do |project| %>
		<tr>
			<td><%= link_to project.name, project_path(project) %></td>
			<td><small>(<%= pluralize project.tasks.size, 'task' %>)</small></td>
		</tr>
	<% end %>
</table>

<br><br>

<h2>Projects</h2>
<h5>ordered by projects names</h5>

<table>
	<% @projects_by_name.each do |project| %>
		<tr>
			<td><%= link_to project.name, project_path(project) %></td>
			<td><small>(<%= pluralize project.tasks.size, 'task' %>)</small></td>
		</tr>
	<% end %>
</table>

<br><br>

<h2>Projects</h2>
<h5>ordered by N</h5>

<table>
	<% @projects_by_n.each do |project| %>
		<tr>
			<td><%= link_to project.name, project_path(project) %></td>
			<td><small>(<%= pluralize project.tasks.size, 'task' %>)</small></td>
		</tr>
	<% end %>
</table>

<br><br>

<h2>Tasks</h2>
<h5>with duplicate names asc</h5>

<table>
	<% @tasks_duplicate_names.each do |task| %>
		<tr>
			<td><%= link_to task.name %></td>
		</tr>
	<% end %>
</table>

<h2>Tasks</h2>
<h5>with multiple matches in Garage</h5>

<table>
	<% @arr.each do |task| %>
		<tr>
			<td><%= link_to task[0][1] %></td>
			<td><small>(<%= pluralize task[1], 'match' %>)</small></td>
		</tr>
	<% end %>
</table>