<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit">
      <h1 class="title">RubyDo</h1>
    </div>
  </div>
</div>

<br>

<div id="projects">
	<%= render @projects %>
</div>

<br>

<%# !!!---THIS IS AND ALTERNATIVE PROJECT CREATION---!!! %>
<%
=begin%>
<div id="create_project">
	<%= render 'form', project: @project %>
</div>
<%
=end%>

<br>

<%= form_with(model: @new_project, remote: true) do |form| %>
  <div class="field">           <!-- rename to hidden_field -->
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit "New Project", class: "btn btn-primary" %>
  </div>
<% end %>

<%-# commented line -%>
