<p id="notice"><%= notice %></p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<h1 class="title">To-do-do-dooo</h1>

<br>

<div id="projects">
	<%= render @projects %>
</div>

<br>

<%
=begin%>
<div id="create_project">
	<%= render 'form', project: @project %>
</div>
<%
=end%>

<br>

<%= form_with(model: @new_project, remote: true) do |form| %>
  <div class="field">           <!-- rename to hidden_field -->
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= form.submit "New Project" %>
  </div>
<% end %>

<%-# commented line -%>