<p id="notice"><%= notice %></p>

<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: ['action-button', 'log-out-button'] %>
<p><%= link_to 'sql tasks', count_path %></p>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit">
      <h1 class="title">RubyDo</h1>
    </div>
  </div>
</div>


<br>

<div id="projects">
	<%= render @projects %>
</div>

 <div id= "add-todo-button" class="text-center pb-5 pt-3 ">
      <%= form_with(model: @new_project, remote: true) do |form| %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.submit "Add TODO List", class: "btn btn-primary" %>
      <% end %>
  </div>

<%# !!!---THIS IS AN ALTERNATIVE PROJECT CREATION---!!! %>
<%
=begin%>
<div id="create_project">
	<%= render 'form', project: @project %>
</div>
<%
=end%>


   


<%-# commented line -%>


