<!DOCTYPE html>
<html>
  <head>
    <title>RbTm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!—!!! REF02 !!!—>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- TESTING LINKS TO CUSTOM SCSS FILES -->
    <%= stylesheet_link_tag "title" %>
    <%= stylesheet_link_tag "button" %>
    <%= stylesheet_link_tag "container" %>
    <%= stylesheet_link_tag "link" %>
    <%= stylesheet_link_tag "task_form" %>
    <%= stylesheet_link_tag "task_list" %>
    <!-- END TESTING LINKS TO CUSTOM SCSS FILES -->

    <!--!!! REF01 !!!-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   
    <script>
        document.addEventListener("mousemove", function() {
          $(".sortable").sortable({
            update: function(e, ui) {
              $.ajax({
                url:  $(this).data("url"),
                type: "PATCH",
                data: $(this).sortable('serialize'),
              });
            }
          });
        });

    </script>
    <!-- Devise-wise, need tests -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
