<!DOCTYPE html>
<html>
  <head>

    <title>RubyDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/f6764a97a3.js" crossorigin="anonymous"></script>

    <!-- Devise-wise, need tests -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="container-fluid pagination-centered">
      <div class="row justify-content-center">
        <div class="col-md-3 col-1">
        </div>
            <div class="col-md-6 col-10">
              <%= yield %>
            </div>
          <div class="col-md-3 col-1">
        </div>
      </div> 
    </div>
  </body>
</html>
